@layer base {
  :root {
    /* Common (light/dark shared) */
    --radius: 0.5rem;

    /* Light mode */
    --background: var(--color-neutral-0);
    --foreground: var(--color-neutral-950);
    --card: var(--color-neutral-0);
    --card-foreground: var(--color-neutral-950);
    --popover: var(--color-neutral-0);
    --popover-foreground: var(--color-neutral-950);
    --primary: var(--color-primary-950);
    --primary-foreground: var(--color-primary-50);
    --secondary: var(--color-secondary-200);
    --secondary-foreground: var(--color-primary-950);
    --muted: var(--color-muted-200);
    --muted-foreground: var(--color-neutral-600);
    --accent: var(--color-accent-200);
    --accent-foreground: var(--color-primary-950);
    --destructive: var(--color-destructive-500);
    --destructive-foreground: var(--color-primary-50);
    --border: var(--color-neutral-200);
    --input: var(--color-neutral-200);
    --ring: var(--color-neutral-950);
    --chart-1: var(--color-chart-1);
    --chart-2: var(--color-chart-2);
    --chart-3: var(--color-chart-3);
    --chart-4: var(--color-chart-4);
    --chart-5: var(--color-chart-5);
  }

  /* Dark mode */
  .dark {
    --background: var(--color-neutral-950);
    --foreground: var(--color-primary-50);
    --card: var(--color-neutral-950);
    --card-foreground: var(--color-primary-50);
    --popover: var(--color-neutral-950);
    --popover-foreground: var(--color-primary-50);
    --primary: var(--color-primary-50);
    --primary-foreground: var(--color-primary-950);
    --secondary: var(--color-secondary-800);
    --secondary-foreground: var(--color-primary-50);
    --muted: var(--color-muted-800);
    --muted-foreground: var(--color-neutral-400);
    --accent: var(--color-accent-800);
    --accent-foreground: var(--color-primary-50);
    --destructive: var(--color-destructive-900);
    --destructive-foreground: var(--color-primary-50);
    --border: var(--color-neutral-800);
    --input: var(--color-neutral-800);
    --ring: var(--color-neutral-300);
    --chart-1: var(--color-chart-1-dark);
    --chart-2: var(--color-chart-2-dark);
    --chart-3: var(--color-chart-3-dark);
    --chart-4: var(--color-chart-4-dark);
    --chart-5: var(--color-chart-5-dark);
  }
}
